<div id='right' class="well" ng-controller="blogListCtrl">
    <div class="row">
        <div class="col-md-3">          
            <div class="row">
                <div class="col-md-12">
                    <a ui-sref="bloglist({management:1})" class="btn btn-primary">返回列表</a>
                </div>
                <br/>
                <div class="col-md-12">
                    请输入博客id:<input id='oid' />
                </div>
 
                <br/>
                <div class="col-md-12">
                    <a ng-click="showBloglist()" class="btn btn-primary">显示相应id的数据详情</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" ng-repeat="x in bloglists">
                <div class="col-md-12">
                 <form class="form-horizontal" role="form" name="form">
                       <div class="form-group">
                            <label class="col-md-2 control-label">
                                博客id：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static" >
                                    {{x.id}}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                博客标题：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static" >
                                    {{x.btitle}}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                博客类型：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">{{x.bclass}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                作者：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">{{x.author}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                博客内容：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">{{x.bcontent}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                发表时间：
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">{{x.updated_at}}</p>
                            </div>
                        </div>
                </form>  

                </div>
               <br>  <br> 
            </div>



        </div>

    </div>

</div>
