
<div ng-controller="publicCtrl">
    
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="gridStyle" ng-grid="gridOptions">
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
           <!--  <a ui-sref="adduser" class="btn btn-primary" style="float:right;">新增用户</a> -->
            <a ui-sref="addblog" class="btn btn-primary" style="float:right;">新增博客</a>
            <a ui-sref="addcomment" class="btn btn-primary" style="float:right;">新增评论</a>
        </div>
    </div>
</div>
