<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item active">
				管理类型
            </a>
            <a ui-sref="bloglist({management:0})" class="list-group-item">用户管理</a>
            <a ui-sref="bloglist({management:1})" class="list-group-item">博文审核管理</a>
            <a ui-sref="bloglist({management:2})" class="list-group-item">评论审核管理</a>
        </div>
    </div>
</div>
